{% extends 'layout.html.twig' %}
{% set active = ['type--home'] %}

{% block title %}{% endblock %}

{% block scripts %}
{% endblock %}

{% block cover %}

        <div style="background-image: url({{ app.request.basepath }}/img/hero.jpg); min-height: 829px;" class="background cover">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-xs-hidden col-md-show">
                        <div class="home--cover__box">
                            <div style="float: left;" class="container">
                                <div class="row">
                                    <div class="col-md-13 col-md-offset-1 col-lg-12 col-lg-offset-1">
                                        <div class="home--cover__box__title">Education beyond boundaries.</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-1">
                                        <p>You're busy. You have a life. Responsibilities. But you still want to go further in life. That's where we come in. We give you a path to a better future. And it’s 100% online.</p>
                                        <a class="home--cover__box__link" href="#">Get More Information</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block content %}

        <div class="type--home">

            <div class="wrap--home">

                <div class="wrap--home__prospective-students">

                    <div class="container">

                        <div class="row">

                            <div class="col col-sm-20 col-sm-offset-2 col-md-13 col-md-offset-0">

                                <div class="row">
                                    <div class="col-xs-24">
                                        <h4>Time to do something for yourself.</h4>
                                        <p>With 59 degree programs, there's no telling where you'll go. But one thing's for certain: You'll be a different person when you get there. Choose a degree program and an advisor will help you get started.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-24 col-xs-offset-0 col-sm-14 col-sm-offset-5 col-md-10 col-md-offset-1 mobile-show" style="background: url('{{ app.request.basepath }}/img/callout-globe.png') no-repeat center center; min-height: 320px;">
                                <div class="area-of-study">

                                    <div class="select">
                                        <input type="checkbox" id="toggle" class="toggle"> <label for="toggle">Choose an area of study</label>
                                        <ul>
                                            <li class="select-option"><a href="http://www.google.com" name="choice" id="c1"><label for="c1">Choice 1</label></a>
                                            <li class="select-option"><a href="http://www.google.com" name="choice" id="c2"><label for="c1">Choice 2</label></a>
                                            <li class="select-option"><a href="http://www.google.com" name="choice" id="c3"><label for="c1">Choice 3</label></a>
                                            <li class="select-option"><a href="http://www.google.com" name="choice" id="c4"><label for="c1">Choice 4</label></a>
                                            <li class="select-option"><a href="http://www.google.com" name="choice" id="c5"><label for="c1">Choice 5</label></a>
                                            <!--
                                            <li class="select-option"><input type="radio" name="choice" id="c1" value="c1"><label for="c1">Choice 1</label></li>
                                            <li class="select-option"><input type="radio" name="choice" id="c2" value="c2"><label for="c2">Choice 2</label></li>
                                            <li class="select-option"><input type="radio" name="choice" id="c3" value="c3"><label for="c3">Choice 3</label></li>
                                            <li class="select-option"><input type="radio" name="choice" id="c4" value="c4"><label for="c4">Choice 4</label></li>
                                            <li class="select-option"><input type="radio" name="choice" id="c5" value="c5"><label for="c5">Choice 5</label></li>
                                            //-->
                                        </ul>	
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div style="background-image: url({{ app.request.basepath }}/img/blank.gif); min-height: 460px; background-size: 100% 100%;" data-original="{{ app.request.basepath }}/img/bg-students.jpg" class="wrap--home background background--fixed lazy">

                <div class="wrap--home__current-students">

                    <div class="container">

                        <div class="row">
                            <div class="col-xs-24">
                                <h1>A degree that’s so much more than a diploma</h1>
                            </div>
                        </div>

                        <div class="row boxes mobile-show">

                            <div class="box box--icon col-sm-20 col-sm-offset-2 col-md-7 col-md-offset-0" style="margin-bottom: 18px;">
                                <span class="box--icon__icon"><i class="icon-internet-location"></i></span>
                                <p class="box--icon__text" style="display: inline-block; margin: 0; padding: 0;">Earn your degree from anywhere &ndash; all programs are entirely online.</p>
                            </div>

                            <div class="box box--icon col-sm-20 col-sm-offset-2 col-md-7 col-md-offset-1" style="margin-bottom: 18px;">
                                <span class="box--icon__icon"><i class="icon-graduation"></i></span>
                                <p class="box--icon__text" style="display: inline-block; margin: 0; padding: 0;">There’s no substitute for a degree from a nationally-ranked, world-renowned institution.</p>
                            </div>

                            <div class="box box--icon col-sm-20 col-sm-offset-2 col-md-7 col-md-offset-1" style="margin-bottom: 18px;">
                                <span class="box--icon__icon"><i class="icon-laptop-1"></i></span>
                                <p class="box--icon__text" style="display: inline-block; margin: 0; padding: 0;">Earn credit for prior skills and training.</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="wrap--home">

                <div class="wrap--home__colleges">

                    <div class="container">
                        <div class="row">
                            <div class="col col-sm-20 col-sm-offset-2 col-md-10 col-md-offset-0">
                                <h4>Take the first step.</h4>
                                <form action="" method="">
                                    <fieldset>
                                        <input type="text" name="first_name" value="" placeholder="Enter First Name" />
                                        <input type="text" name="last_name" value="" placeholder="Enter Last Name" />
                                        <input type="text" name="phone" value="" placeholder="Enter Phone" />
                                        <input type="text" name="email" value="" placeholder="Enter Email" />
                                        <textarea name="comments" rows="5" placeholder="Comments or Questions"></textarea>
                                        <button type="submit" value="Request Information" class="button--large">Request Information</button>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="col col-sm-20 col-sm-offset-2 col-md-13 col-md-offset-1">
                                <img src="{{ app.request.basepath }}/img/graduate.jpg" alt="" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}
